@model System.Collections.Generic.List<InstaSharp.Models.Media>

@{
    ViewBag.Title = "Insta Feed";
}

<h2>Feed by @ViewBag.Tag</h2>
@foreach (var media in Model)
{
    <img src="@media.Images.LowResolution.Url" />
}