@{
    ViewBag.Title = "Insta on Crack";
}
@model InstaSharp.Models.UserInfo
<div class="jumbotron">
    <h1>Instagramm on Crack</h1>    
        @if (Model != null)
        {
            <p class="lead">
                Welcome @Model.FullName! <br />
                Please use following key for API calls - @ViewBag.Key
            </p>
        }
        else
        {
            <p class="lead">
                You need to authorize! Push the button below!
            </p>
            <p><a href="@Url.Action("Login", "Auth")" class="btn btn-primary btn-lg">Login &raquo;</a></p>
        }
</div>